:root {
  font-size: 18px;
}

body {
  margin: 0;
  font-family: Source Sans Pro, sans-serif;
  font-weight: normal;
  color: #111;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

#topbar {
  height: 55px;
  background: #F6F6F6;
  padding: 0.5em 0.25em;
}

#editor {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
}

#sidebar {
  background: #F6F6F6;
  width: 320px;
  padding: 1em 1em;
  position: absolute;
  z-index: 2;
  top: 45px;
  right: 0;
  bottom: 0;
}

#freq-analyser {
  display: inline-block;
  overflow: hidden;
}
