#wrapper {
  max-width: 768px;
  margin: 0 auto;
  padding: 1em;
  line-height: 1.6;
}

header {
  margin: 2em 0;
}

h1 {
  margin: 0.5em 0;
}

code {
  font-size: 0.8em;
  background: #EEE;
  color: #444;
  padding: 5px;
}
